In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np
import ipywidgets
import os

In [3]:
%matplotlib inline

In [6]:
climate = pd.read_csv("/home/dgorrell/Downloads/GlobalLandTemperatures_GlobalLandTemperaturesByMajorCity.csv")
agriculture = pd.read_excel (r'/home/dgorrell/Documents/independentStudy/Data/agricultureProductionByYearAndCountry.xlsx', sheet_name='OUTPUT')
foodDesert = pd.read_excel (r'/home/dgorrell/Documents/independentStudy/Data/atlasFoodDesertData2015 (1).xlsx', sheet_name='Food Access Research Atlas')

In [7]:
climate

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
239172,2013-05-01,18.979,0.807,Xian,China,34.56N,108.97E
239173,2013-06-01,23.522,0.647,Xian,China,34.56N,108.97E
239174,2013-07-01,25.251,1.042,Xian,China,34.56N,108.97E
239175,2013-08-01,24.528,0.840,Xian,China,34.56N,108.97E
239176,2013-09-01,NaN,NaN,Xian,China,34.56N,108.97E

In [8]:
agriculturetureturetureturetureturetureltureulturecultureiculturericulture

,Gross Agricultural Production,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176
0,(Constant 2004-2006 Int'l$1000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Order,FAO N,WDI Code,Country,Region,Sub-Region,Inc I,Inc II,Note,Sources & Notes,...,2006.000000,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000
2,1,202,ZAF,South Africa,"AFRICA, Developed",South Africa,MI-U,MI-U-xC,NaN,NaN,...,-0.036208,0.024960,0.137310,-0.012645,0.010489,-0.008130,0.032675,0.021590,0.029490,-0.034541
3,2,32,CMR,Cameroon,"AFRICA, SUB-SAHARA","SSA, Central",MI-L,MI-L,NaN,NaN,...,0.060355,0.050615,0.037631,0.068525,0.090902,0.027940,0.054517,0.024745,0.008340,0.044449
4,3,37,CAF,Central African Republic,"AFRICA, SUB-SAHARA","SSA, Central",LI,LI,NaN,NaN,...,0.021639,0.048172,0.013377,0.030099,0.011608,0.050446,0.015794,0.011198,-0.054730,0.023499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,185,185,RUS,Russian Federation,USSR,"USSR, East Europe",MI-U,MI-U-xC,Redundant,NaN,...,0.017394,0.030822,0.099832,-0.009101,-0.147514,0.207761,-0.067649,0.079991,0.039529,0.024044
187,186,230,UKR,Ukraine,USSR,"USSR, East Europe",MI-L,MI-L,Redundant,NaN,...,0.002995,-0.069703,0.202490,-0.045453,-0.023595,0.189870,-0.061925,0.130383,0.016961,-0.042917
188,187,228,SVU,"USSR, former","USSR, former","USSR, former",(MI-U),(MI-U-xC),Composite,NaN,...,0.013733,0.014088,0.094938,-0.000215,-0.076008,0.160962,-0.046156,0.081747,0.029726,0.011133
189,188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,189,5000,WLD,World,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022527,0.030914,0.036659,0.007517,0.025080,0.035322,0.010503,0.034927,0.017532,0.010141

In [9]:
foodDesert

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,Wyoming,Washakie,0,3326,1317,0,57,0.017138,0,...,593,3106,6,15,0,27,172,309,56,116
72860,56043000301,Wyoming,Washakie,1,2665,1154,0,10,0.003752,0,...,399,2377,5,23,0,40,220,446,114,124
72861,56043000302,Wyoming,Washakie,1,2542,1021,0,73,0.028717,0,...,516,2312,11,10,1,26,182,407,82,97
72862,56045951100,Wyoming,Weston,0,3314,1322,0,252,0.076041,0,...,499,3179,15,10,1,47,62,91,108,50
72863,56045951300,Wyoming,Weston,1,3894,1699,0,61,0.015665,0,...,650,3706,6,10,2,44,126,125,95,168

In [ ]:
# the